# Development requirements
aiomysql>=0.2.0
asyncmy>=0.2.9
Cython==3.0.10
cytimes>=1.0.3
cryptography>=43.0.0
pymysql>=1.1.0
PyNaCl>=1.5.0
# Package requirements
numpy>=1.25.2
orjson>=3.10.2
pandas>=2.1.0
mysqlclient>=2.2.0